<div class="animate__animated animate__flipInX">
    <div class="survey-container">
        <form [formGroup]="formEnlace">
            <div class="row mb-4">
                <div class="col-12 text-center">
                    <h2 class="bg-orange">Enlace de internet</h2>
                    <i class="fas fa-network-wired"></i>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="enlace">Enlace</label>
                    <select class="form-control" id="enlace" 
                            formControlName="enlace"
                            (change)="validationEnlace()">
                        <option [value]="1">Si</option>
                        <option [value]="2">No</option>
                    </select>
                </div>
                <div class="form-group col-md-4" *ngIf="enlace == 1">
                    <label for="tipo_enlace">Tipo de enlace </label>
                    <select class="form-control" id="tipo_enlace"
                            formControlName="tipo_enlace">
                        <option [value]="2">Best effor</option>
                        <option [value]="3">Dedicado</option>
                    </select>
                </div>
                <div class="form-group col-md-4" *ngIf="enlace == 1">
                    <label for="ancho_banda">Ancho de banda </label>
                    <select class="form-control" id="ancho_banda"
                            formControlName="ancho_banda">
                        <option [value]="2">10 Mbps</option>
                        <option [value]="3">20 Mbps</option>
                        <option [value]="4">30 Mbps</option>
                        <option [value]="5">50 Mbps</option>
                        <option [value]="6">100 Mbps</option>
                        <option [value]="7">200 Mbps</option>
                        <option [value]="8">300 Mbps</option>
                        <option [value]="9">500 Mbps</option>
                        <option [value]="10">1 Gbps</option>
                        <option [value]="11">2 Gbps</option>
                        <option [value]="12">3 Gbps</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="row mt-5">
            <div class="col-2 offset-sm-9">
                <button (click)="survey_renta()" class="btn btn-primary btn-block">Continuar</button>
            </div>
        </div>
    </div>
</div>
