<div class="animate__animated animate__flipInX">
    <div class="survey-container">
        <form [formGroup]="formEnlace">
            <div class="row mb-4">
                <div class="col-12 text-center">
                    <h2 class="bg-orange">Enlace de internet</h2>
                    <i class="fas fa-network-wired"></i>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="enlace">Enlace</label>
                    <select class="form-control" id="enlace" 
                            formControlName="enlace"
                            (change)="validationEnlace()">
                        <option [value]="1">Si</option>
                        <option [value]="0">No</option>
                    </select>
                </div>
                <div class="form-group col-md-4" *ngIf="enlace == 1">
                    <label for="tipo_enlace">Tipo de enlace </label>
                    <select (change)="changeEnlaceAnchoBanda()" class="form-control" id="tipo_enlace"
                            formControlName="tipo_enlace">
                        <option *ngFor="let enlace of enlace_select"
                                [value]="enlace.id"> {{ enlace.name }} 
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-4" *ngIf="enlace == 1">
                    <label for="ancho_banda">Ancho de banda </label>
                    <select (change)="changeEnlaceAnchoBanda()" class="form-control" id="ancho_banda"
                            formControlName="ancho_banda">
                            <option *ngFor="let banda of ancho_banda_select"
                            [value]="banda.id"> {{ banda.name }} 
                    </option>
                    </select>
                </div>
            </div>
        </form>
        <div class="row mt-5">
            <div class="col-12 col-sm-3 offset-sm-9">
                <button (click)="surveyStoreEnlace()" class="btn btn-primary rounded-pill btn-block">Continuar</button>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="row mt-5">
        <div class="col-12 col-sm-6 offset-sm-3">
            <button (click)="end_survey()" class="btn btn-danger rounded-pill btn-block active"> <i class="fas fa-sign-out-alt"></i> Salir de la encuesta</button>
        </div>
    </div>
</div>
