<div class="animate__animated animate__flipInX">
    <div class="survey-container">
        <div class="row mb-4">
            <div class="col-12 text-center">
                <h2 class="bg-orange">Enlace de internet</h2>
                <i class="fas fa-network-wired"></i>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="exampleFormControlSelect2">Enlace</label>
                <select class="form-control" id="exampleFormControlSelect2">
                    <option>Si</option>
                    <option>No</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="exampleFormControlSelect2">Tipo de enlace </label>
                <select class="form-control" id="exampleFormControlSelect2">
                    <option>Best effor</option>
                    <option>Dedicado</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="exampleFormControlSelect2">Ancho de banda </label>
                <select class="form-control" id="exampleFormControlSelect2">
                    <option>10 Mbps</option>
                    <option>20 Mbps</option>
                    <option>30 Mbps</option>
                    <option>50 Mbps</option>
                    <option>100 Mbps</option>
                    <option>200 Mbps</option>
                    <option>300 Mbps</option>
                    <option>500 Mbps</option>
                    <option>1 Gbps</option>
                    <option>2 Gbps</option>
                    <option>3 Gbps</option>
                </select>
            </div>
        </div>
        <button (click)="survey_renta()" class="btn btn-primary">Continuar</button>
    </div>
</div>
