<div class="animate__animated animate__backInDown">
    <div class="survey-container">
        <!-- <div *ngIf="loader" class="row mb-4">
            <div class="col-12 text-center">
                <h2 class="bg-orange">Espera un momento, estamos guardando tus respuestas...</h2>
                <img class="img-fluid" src="./assets/img/loading.gif" alt="">
            </div>      
        </div> -->
        <div>
            <div class="col-12 text-center">
                <h2 class="bg-orange">¡Gracias por contestar nuestra encuesta!</h2>
                <p class="text-primary">En breve uno de nuestros asesores se pondrá en 
                    contacto contigo para ofrecerte el servicio que más se adapte a tus necesidades.</p>
                <img class="img-fluid" src="./assets/img/survey_finish.png" alt="">
            </div>
        </div>      
    </div>
</div>

