<div class="animate__animated animate__backInRight">
    <div class="survey-container">
        <div class="row mb-4">
            <div class="col-12 text-center">
                <h2 class="bg-orange">Que tipo de servicio necesitas?</h2>
                <p class="text-center">Puedes seleccionar mas de uno</p>
                <a><i class="fas fa-wifi"></i></a>
            </div>
        </div>
        <form [formGroup]="formServicio">
            <div class="form-row mt-5">
                <div class="form-group col-md-2">
                    <div class="custom-control custom-checkbox">
                        <input formControlName="gpon" type="checkbox" class="custom-control-input" id="checkGpon">
                        <label class="custom-control-label" for="checkGpon">GPON</label>
                    </div>    
                </div>
                <div class="form-group col-md-2">
                    <div class="custom-control custom-checkbox">
                        <input formControlName="wifi"  type="checkbox" class="custom-control-input" id="checkWifi">
                        <label class="custom-control-label" for="checkWifi">WIFI</label>
                    </div> 
                </div>
                <div class="form-group col-md-2">
                    <div class="custom-control custom-checkbox">
                        <input formControlName="cctv" (change)="validationCCTV()"  type="checkbox" class="custom-control-input" id="checKCCTV">
                        <label class="custom-control-label" for="checKCCTV">CCTV</label>
                    </div> 
                </div> 
                <div class="form-inline col-md-6" *ngIf="cctv == true">
                    <div class="md-form">
                        <label for="internas">Camaras internas</label>
                        <input type="number" class="form-control" id="internas" name="internas"
                               formControlName="camaras_internas"
                               [(ngModel)]="camaras_internas"
                               [class.is-invalid]="camarasInternasNoValido"
                               >
                            <div *ngIf="camarasInternasNoValido" class="invalid-feedback">
                                El valor minimo es 0.
                            </div>
                    </div>
                    <div class="md-form ml-md-5">
                        <label for="externas">Camaras externas</label>
                        <input type="number" class="form-control" id="externas" name="externas"
                               formControlName="camaras_externas"
                               [(ngModel)]="camaras_externas"
                               [class.is-invalid]="camarasExternasNoValido"
                               >
                        <div *ngIf="camarasExternasNoValido" class="invalid-feedback">
                            El valor minimo es 0.
                        </div>
                    </div>
                   
                </div> 
            </div>
        </form>
        <div class="row mt-5">
            <div class="col-12 col-sm-3 offset-sm-9">
                <button (click)="surveyStoreServicio()" class="btn btn-primary btn-block">Continuar</button>
            </div>
        </div>
    </div>
</div>
