<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="./assets/img/logo_sitwifi.png" alt="">
            </div>
        </div>
        <p class="lead mt-3">Encuentra el servicio que mejor se adapte a tus necesidades</p>
        <a class="btn btn-primary" routerLink="/company" >Empezar encuesta</a>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center">
        <!-- <img class="img-fluid" style="max-height: 500px;" src="./assets/img/portada2.jpg" alt=""> -->
    </div>
</div>

