<div class="animate__animated animate__backInDown">
    <div class="survey-container">
        <div class="row mb-4">
            <div class="col-12 text-center">
                <h2 class="bg-orange">Queremos conocerte</h2>
                <a><i class="fas fa-users"></i></a>
            </div>
        </div>
        <form [formGroup]="formCompany">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="">Nombre de la empresa</label>
                    <input  formControlName="company" 
                            [class.is-invalid]="companyNoValido"
                            type="text" class="form-control" id="company" autocomplete="off">
                    <div *ngIf="companyNoValido" class="invalid-feedback">
                        Este campo es requerido.
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="">Nombre del contacto</label>
                    <input  formControlName="contacto" 
                            [class.is-invalid]="contactoNoValido"
                            type="text" class="form-control" id="contacto" autocomplete="off">
                    <div *ngIf="contactoNoValido" class="invalid-feedback">
                        Este campo es requerido.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="">Correo electronico</label>
                    <input  formControlName="email" 
                            [class.is-invalid]="emailNoValido"
                            type="email" class="form-control" id="email" name="email" autocomplete="off">
                    <div *ngIf="emailNoValido" class="invalid-feedback">
                        Ingrese un correo valido.
                    </div>
                  </div>
                <div class="form-group col-md-6">
                    <label for="">Telefono</label>
                    <input  formControlName="phone" 
                            [class.is-invalid]="phoneNoValido"
                            type="text" class="form-control" id="phone" name="phone" autocomplete="off">
                    <div *ngIf="phoneNoValido" class="invalid-feedback">
                        Este campo es requerido.
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-sm-3 offset-sm-9">
                    <button (click)="surveyStoreCompany()" class="btn btn-primary btn-block">Continuar</button>
                </div>
            </div>
        </form>
    </div>
</div>

