@media (max-width: 991px) {

    /*Header*/
  
    /*Tamaño del header*/
      header {
      position:relative;
      overflow:hidden;
      padding-top:calc(1rem + 72px);
      padding-bottom:7rem;
      }
      /*bg circle general*/
      .bg-circle{
      z-index:0 !important;
      position:absolute;
      border-radius:100%;
      /*background:linear-gradient(0deg,#ee0979 0,#ff6a00 100%)*/
      }
  
      /*Circulo grande header*/
      .bg-circle-1{
      z-index: 0 !important;
      height:30rem;
      width:30rem;
      top:5rem;
      left:-10rem;
      }
  
      /*Circulo pequeño header*/
      .bg-circle-2 {
        display: none;
      }
  
      /*Circulo grande naranja*/
        .bg-circle-3{
      /*z-index: 0 !important;
        height:30rem;
        width:30rem;
        top:7rem;
        left:-10rem*/
        display:none;
        }
  
      /*Links circulares verticales*/
  
      /*Circulo 1*/
        .tiny-circle-1{
          height:4rem;
          width:4rem;
          top:-1.5rem;
          right:15rem;
        }
  
      /*Circulo 2*/
        .tiny-circle-2{
          height:4rem;
          width:4rem;
          top:-1rem;
          right:7.5rem;
        }
  
      /*Circulo 3*/
        .tiny-circle-3{
          height:4rem;
          width:4rem;
          top:3.5rem;
          right:1.6rem;
        }
  
      /*Circulo 4*/
        .tiny-circle-4{
          height:4rem;
          width:4rem;
          top:9rem;
          right:-1.3rem;
        }
  
      /*Circulo 5*/
        .tiny-circle-5{
          height:4rem;
          width:4rem;
          top:16rem;
          right:-2rem;
        }
  
  
  
      .card-orange{
        max-height: 1000px;
      }
      .card-orange:hover{
        max-height: 1000px;
      }
      .space {
        line-height: 1.4;
        font-size: 6.5vw !important;
      }
      .space_list {
        line-height: 1.4;
      }
      .aux-1 {
        z-index:100 !important;
        text-align: center;
      }
      .industria{
        font-size: 6.5vw !important;
      }
      .img-fluid {
        width: 70%;
      }
  
      .tab-pane img {
        width: 80%;
      }
      * {
        font-size: 16px !important;
      }
      .negocio-label {
        font-size: 36px !important;
      }
      .negocio-image {
        margin-left: -70%;
        width: 100%;
      }
      .s1-normal {
        display: none;
      }
      .s2-resp {
        display: block !important;
        background-color: #fff !important;
        color:#163072;
      }
      .s2-resp h2 {
        font-size: 28px !important;
      }
      .img-resp {
        width: 100%;
      }
      .footer-circle-1 {
        width: 100%;
      }
      .bg-circle-4 {
        margin-top: 100px;
        height: 100px;
        width: 100px;
      }
      .bg-circle-5 {
        margin-top: 50px;
        left: 250px;
        height: 200px;
        width: 200px;
      }
      .servicios-container {
        margin-top: -100px;
      }
      .servicios-label {
        font-size: 34px !important;
      }
      .card-columns {
        column-count: 1;
      }
      .animate-text {
        top: 5rem;
      }
      .card-inverse {
        margin-bottom: 20px !important;
      }
      .card-img-overlay h3 {
        font-size: 21px !important;
      }
      .section-3 {
        margin-top: -40px;
      }
      .plan-label {
        margin-top: -100px;
        padding-right: 70px !important;
        font-size: 36px !important;
      }
      p.lead {
        padding-right: 50px !important;
      }
      .btn-plan {
        margin-top: 20px;
        margin-bottom: -60px;
      }
      .navbar-collapse {
        text-align: right;
      }
      .navbar-toggler {
        border: 1px solid white !important;
      }
      .section-4 {
        padding-top: 70px;
      }
      .footer-circle-1 {
        width: 100px;
        height: 100px
      }
      .industrias-texts {
        margin-top: 50px;
        text-align: center !important;
      }
      .industrias-texts h4 {
        margin-top: -20px;
        font-size: 20px !important;
      }
      .industrias-texts li, .servicios-grid a:not(.except) {
        line-height: 2.5;
      }
      .industrias-texts .list-unstyled * {
        font-size: 12px !important;
      }
      .servicios-footer-1, .last-footer-1 {
        display: none !important;
      }
      .servicios-footer-2, .last-footer-2 {
        display: block !important;
      }
      .servicios-footer-2 h4 {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 20px !important;
      }
      .servicios-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 11px;
      }
      .servicios-grid label, .servicios-grid a {
        font-size: 12px !important;
      }
      .servicios-grid a, .footercitos a {
        color: #0f3072;
      }
      .servicios-grid a:hover, .footercitos a:hover {
        color: #fb6819;
      }
      .social-networks a {
        color: #0f3072 !important;
        text-decoration: none !important;
        font-size: 24px !important;
        margin: 35px 15px;
      }
      .footercitos * {
        font-size: 12px !important;
        text-decoration: none !important;
      }
      .watermark-1 {
        right:0;
        bottom: 64px;
        font-size: 16vw !important;
      }
      .watermark-2{
        right: 0;
        bottom: -140px;
        font-size: 20vw !important;
      }
  }
  
  @media (min-width: 666px) and (max-width: 991px) { /*MEDIUM-SCREENS*/
    .watermark-1 {
      bottom: 0 !important;
    }
    .watermark-2{
      bottom: -180px !important;
    }
    .animate-text {
      padding-top: 60px;
    }
    .negocio-label {
      font-size: 48px !important;
    }
    .s2-resp h2 {
      font-size: 48px !important;
    }
    .s2-resp p {
      font-size: 24px !important;
    }
    .bg-circle-4 {
      margin-top: 100px;
      height: 125px;
      width: 125px;
    }
    .bg-circle-5 {
      margin-top: 50px;
      left: 666px;
      height: 250px;
      width: 250px;
    }
    .section-2 * {
      font-size: 32px !important;
    }
    .section-2 h3 {
      font-size: 48px !important;
    }
    .servicios-label {
      font-size: 48px !important;
    }
    .plan-label {
      font-size: 48px !important;
    }
    .section-3 .lead {
      font-size: 24px !important;
    }
    #FormContacto label {
      font-size: 24px !important;
    }
    #FormContacto input, #FormContacto select {
      height: 50px;
    }
    #submitGuardar {
      font-size: 21px !important;
    }
    .footer-circle-1 {
      width: 150px;
      height: 150px
    }
    .industrias-texts h4 {
      font-size: 26px !important;
    }
    .industrias-texts .list-unstyled * {
      font-size: 18px !important;
    }
    .servicios-footer-2 h4 {
      font-size: 26px !important;
    }
    .servicios-grid label, .servicios-grid a {
      font-size: 18px !important;
    }
    .social-networks a {
      font-size: 32px !important;
    }
    .footercitos * {
      font-size: 18px !important;
    }
  
    /*Header*/
  
    /*Tamaño del header*/
      header {
      position:relative;
      overflow:hidden;
      padding-top:calc(1rem + 72px);
      padding-bottom:7rem;
      }
      /*bg circle general*/
      .bg-circle{
      z-index:0 !important;
      position:absolute;
      border-radius:100%;
      /*background:linear-gradient(0deg,#ee0979 0,#ff6a00 100%)*/
      }
  
      /*Circulo grande header*/
      .bg-circle-1{
        z-index: 0 !important;
        height:54rem;
        width:54rem;
        top:5rem;
        left:-10rem;
      }
  
      /*Circulo pequeño header*/
      .bg-circle-2 {
        display: none;
      }
  
      /*Circulo grande naranja*/
        .bg-circle-3{
      /*z-index: 0 !important;
        height:30rem;
        width:30rem;
        top:7rem;
        left:-10rem*/
        display:none;
        }
  
      /*Links circulares verticales*/
  
      /*Circulo 1*/
        .tiny-circle-1{
          height:4rem;
          width:4rem;
          top:-1.5rem;
          left:24rem;
        }
  
      /*Circulo 2*/
        .tiny-circle-2{
          height:4rem;
          width:4rem;
          top:1rem;
          left:36rem;
        }
  
      /*Circulo 3*/
        .tiny-circle-3{
          height:4rem;
          width:4rem;
          top:6.5rem;
          right:5rem;
        }
  
      /*Circulo 4*/
        .tiny-circle-4{
          height:4rem;
          width:4rem;
          top:15rem;
          right:0rem;
        }
  
      /*Circulo 5*/
        .tiny-circle-5{
          height:4rem;
          width:4rem;
          top:25rem;
          right:-2rem;
        }
  
  }
  
  @media (min-width: 480px) and (max-width: 991px) { /*MEDIA QUERY SPECIFIC FOR CARDS*/
    .container-cards {
      margin-top: 400px !important;
    }
  }
  
  @media (min-width: 992px) { /*BIG-SCREENS*/
    .s1-normal img {
      width: 100%;
    }
    /*Configuraciones slickJS*/
  
      /*Muestra medio card a la derecha*/
      .slick-list{
        padding:0 10% 0 0 !important;
      }
  
      /*Sombra sugestiva a la derecha*/
        .carousel {
        position: relative;
        }
  
      .carousel:before,
      .carousel:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 100px;
        top: 0;
        height: 100%;
        pointer-events: none; /*makes the linkes behind clickable*/
      }
  
      .carousel:after {
        margin-top:20px;
        width: 4rem;
        right: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0.8) 20px, rgba(255, 255, 255, 0));
      }
      .slick-prev{
        display: none !important;
      }
      /*Colores flechas carousel*/
      .slick-prev:before,
      .slick-next:before
      {
          font-family: 'slick';
          font-size: 20px;
          line-height: 1;
  
          opacity: .75;
          color: 	#606060 !important;
  
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }
      /*Circulo grande header*/
      .bg-circle-1{
        /*z-index: 0 !important;
        height:27rem;
        width:27rem;
        top:5rem;*/
        left: calc(-790px + 50vw) !important;
      }
      .bg-circle-3{
        left: calc(-790px + 50vw) !important;
      }
      .bg-circle-2 {
        left: calc(90vw) !important;
      }
      .aux-1 {
        padding: 0px !important;
        margin-left: 6vw !important;
      }
  }
  
  @media (max-width: 320px) { /*EXTRA-SMALL-SCREENS*/
    /*Header*/
  
    /*Tamaño del header*/
      header {
      position:relative;
      overflow:hidden;
      padding-top:calc(1rem + 72px);
      padding-bottom:7rem;
      }
      /*bg circle general*/
      .bg-circle{
      z-index:0 !important;
      position:absolute;
      border-radius:100%;
      /*background:linear-gradient(0deg,#ee0979 0,#ff6a00 100%)*/
      }
  
      /*Circulo grande header*/
      .bg-circle-1{
        z-index: 0 !important;
        height:27rem;
        width:27rem;
        top:5rem;
        left:-10rem;
      }
  
      /*Circulo pequeño header*/
      .bg-circle-2 {
        display: none;
      }
  
      /*Circulo grande naranja*/
        .bg-circle-3{
      /*z-index: 0 !important;
        height:30rem;
        width:30rem;
        top:7rem;
        left:-10rem*/
        display:none;
        }
  
      /*Links circulares verticales*/
  
      /*Circulo 1*/
        .tiny-circle-1{
          height:4rem;
          width:4rem;
          top:-1.5rem;
          left:12rem;
        }
  
      /*Circulo 2*/
        .tiny-circle-2{
          height:4rem;
          width:4rem;
          top:-0.5rem;
          left:17.5rem;
        }
  
      /*Circulo 3*/
        .tiny-circle-3{
          height:4rem;
          width:4rem;
          top:3.5rem;
          right:1rem;
        }
  
      /*Circulo 4*/
        .tiny-circle-4{
          height:4rem;
          width:4rem;
          top:9rem;
          right:-1.5rem;
        }
  
      /*Circulo 5*/
        .tiny-circle-5{
          height:4rem;
          width:4rem;
          top:16rem;
          right:-1.5rem;
        }
  }


/* You can add global styles to this file, and also import other style files */
.survey-container{
    position: relative;
    margin-top: 15%;
    width: 100%;
    min-height: 50vh;
}

/* .survey-container a{
    background-color: #103878;
    height: 5em;
    border-radius: 15px;
} */

.survey-container i{
    font-size: 5em;
}

.bg-primary{
    background-color: #103878 !important;
 }
 
.btn-primary{
    background-color: #103878 !important;
    border-color: #103878;
    color: white !important;
}

.btn-orange{
  background-color: #e25f05 !important;
  border-color: #e25f05;
  color: white !important;
}

.btn-orange:hover{
  background-color: #ac4a09 !important;
  border-color: #ac4a09;
}

.btn-primary:hover{
    background-color: #040440 !important;
    border-color: #040440;
}

.text-primary{
   color: #103878;
}

.text-secondary {
  color: #0f3072 !important;
}

.bg-orange{
    color: #e25f05;
}

.rounded-pill {
    border-radius: 50rem !important;
    border-top-left-radius: 50rem !important;
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');
  /**COUNTRY CODES*/
  .iti__flag {background-image: url("/images/vendor/intl-tel-input/build/flags.png");}

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("/images/vendor/intl-tel-input/build/flags@2x.png");}
  }

  body {
      font-family: 'Montserrat', sans-serif;
      /*font-size: 13px;*/
      color: #171e28;
      background-color: white !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-family: 'Montserrat', sans-serif;
      ;
  }

  .select2-container .select2-selection{
  border-radius: 50rem !important;
}

/*Fondo footer*/
  .bg-light-blue{
    background-color: #ebeef2 !important;
  }

  .light-navy{
    color:#163072;
  }


/*Espaciado entre lineas*/
  .space {
    line-height: 1.6;
  }
  .space_list {
    line-height: 2;
  }

  .image-header figure img {
      margin: auto;
      display: block;
      object-fit: contain;
  }

/*Tamaño del header*/
  header {
  position:relative;
  overflow:hidden;
  padding-top:calc(4rem + 72px);
  padding-bottom:7rem;
  }

/*Posición circulos*/
  .bg-circle{
  z-index:0;
  position:absolute;
  border-radius:100%;
  /*background:linear-gradient(0deg,#ee0979 0,#ff6a00 100%)*/
  }

/*Circulo grande blanco*/
  .bg-circle-1{
  z-index: 1 !important;
  height:50rem;
  width:50rem;
  top:7rem;
  left:-10rem
  }

/*Aplicamos un tamaño a todas las imagenes de los links*/
  .bg-circle-1 img{
  height: 3rem;
  width: 5rem;
  }

/*Circulo pequeño blanco*/
  .bg-circle-2{
    height:15rem;
    width:15rem;
    top:calc(17rem + 72px);
    right:-10%
  }

  /*Circulo grande naranja*/
    .bg-circle-3{
    z-index: 0 !important;
    height:50rem;
    width:50rem;
    top:7rem;
    left:-10rem
    }
    .circle-section{
      position:relative;
    }
  /*Circulo mediano azul*/
    .bg-circle-4{
      position:absolute;
      border-radius:100%;
      height:18rem;
      width:18rem;
      top:calc(0rem - 72px);
      left:-10%;
      opacity: 0.5;
    }
    /*Circulo mediano naranja*/
      .bg-circle-5{
        position:absolute;
        border-radius:100%;
        height:18rem;
        width:18rem;
        top:calc(-1rem - 72px);
        right:-10%;
        opacity: 0.5;
      }

/*Links circulares verticales*/

/*Circulo 1*/
  .tiny-circle-1{
    height:5rem;
    width:5rem;
    top:-2rem;
    right:27rem;
  }

/*Circulo 2*/
  .tiny-circle-2{
    height:5rem;
    width:5rem;
    top:-1.5rem;
    right:16rem;
  }

/*Circulo 3*/
  .tiny-circle-3{
    height:5rem;
    width:5rem;
    top:4rem;
    right:6rem;
  }

/*Circulo 4*/
  .tiny-circle-4{
    height:5rem;
    width:5rem;
    top:14rem;
    right:-1rem;
  }

/*Circulo 5*/
  .tiny-circle-5{
    height:5rem;
    width:5rem;
    top:25.5rem;
    right:-2.5rem;
  }

/*Estilos list group*/

/*Inactivo*/
  .list-group .list-group-item {
    background-color: #fff!important;
    color:#163072;
    opacity: 0.5;
  }

/*Activo*/
  .list-group .list-group-item.active {
    background-color: #fff!important;
    color:#163072;
    opacity: 1;
}

  /*Secciones*/
  .section-1{
    padding-top:calc(12rem + 72px);
    padding-bottom:7rem;
  }

  .section-2{
    padding-top:calc(4rem + 72px);
    padding-bottom:7rem;
    overflow: hidden;
  }
  .section-3{
    padding-top:calc(4rem + 72px);
    padding-bottom:7rem;
  }
  .section-4{
    padding-top:calc(4rem + 72px);
    padding-bottom:2rem;
  }

  .header-negocio{
    position: relative;
    padding-bottom:10rem;
  }
  .negocio-label{
    z-index:1;
    position: absolute;
  }
  .negocio-image{
    z-index:0;
    position:absolute;
    height:40rem;
    top:-22rem;
    left: 12.5rem;
    padding-top:calc(12rem + 72px);
    padding-bottom:7rem;
  }

/*Cards*/

  .card-columns {
    column-count: 2;
  }
  .card-rows {
    column-count: 2;
  }

  .card-blue{
    background-color:#fff;
    opacity:0.7;
  }
  .card-blue:hover{
    background-color:#163072;
    opacity:1;
  }
  .card-orange{
    max-height:18rem;
    background-color:#fff;
    opacity:0.7;
  }
  .card-orange:hover{
    max-height:18rem;
    background-color:#fb6820;
    opacity:1;
  }
  .mirror{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .card-servicios
  {
    border-radius: 25px;
    background-size:cover;
    position:relative;
    cursor:pointer;
    transition: all 0.4s ease-out;
    /*box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);*/
    overflow:hidden;
    color:white;
  }
  .card-servicios img
  {
    height:100%;
    width:100%;
    transition: all 0.4s ease-out;
  }

  .card-servicios:hover
  {
     /*box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);*/
     transform:scale(1.02);
  }

  .card-servicios:hover img
  {
    opacity: 0.2;
  }

  .card-servicios:hover h3
  {
    position:absolute;
    top:2rem;
    left:1rem;
    font-weight:100;
    font-style:italic;
    transform: translateY(0px);
    transition: transform 0.4s ease-out, opacity 0.5s ease;
  }

  .animate-text
  {
    position:absolute;
    top:6rem;
    left:1rem;
    opacity:0;
    transition: all 0.6s ease-in-out;
  }
  .card-servicios:hover .animate-text
  {
    transform:translateX(0);
    opacity:1;
  }

  .text{
    color:#163072;
  }
  .text:hover
  {
      color:white !important;
  }

  .dots
  {
    position:absolute;
    bottom:20px;
    right:30px;
    margin: 0 auto;
    color:currentColor;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;

  }

  .dots span
  {
      display:block;
      opacity:0;
      transition: transform 0.4s ease-out, opacity 0.5s ease;
      transform: translateY(30px);
      font-weight: bold;
  }

  .card-servicios:hover span
  {
    opacity:1;
    transform:translateY(0px);
  }

  .dots span:nth-child(1)
  {
     transition-delay: 0.05s;
  }

  .rounded-corners{
    border-radius:15px;
  }
  .border-gray{
    color: #d9d9d9;
    border-color: #d9d9d9;
  }
  .border-gray:hover{
    color: #bababa;
    border-color: #bababa;
  }
/*Footer*/

  #footer{
    margin-top: 50px;
  }

  #footer h4, .h4 {
    font-size: 1.35rem;
  }

  #footer a{
    font-size: 0.85rem;
  }

  #footer ul li {
    line-height: 1.45rem !important;
  }

  #footer ul li a{
    line-height: 0.25rem !important;
  }

  .f_list li a{
     color: #0f3072;
  }
  .f_list li a:hover{
     color: #fb6819;
  }

  .social-networks li{
    font-size: 1.5rem;
  }

  .social-networks li a:hover {
  text-decoration: none;
  }

/*Circulo grande*/
  .footer-circle-1{
    border-radius:100%;
    height:16rem;
    width:16rem;
    background-color: #fff!important;
  }

  .btn-plan {
    font-weight: bold;
    color: white;
    border: 1px solid white;
  }

  .container-cards{
  position: absolute;
  z-index: 1;
  top:40rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  }

  .carousel{
    width:95%;
    margin:0px auto;
  }
  .slick-slide{
    margin:1rem;
  }

  .card-vertical{
    position:relative;
    right:0;
    height: 17rem !important;
    border-radius: 25px;
    cursor:pointer;
    overflow:hidden;
  }

  .card-vertical:hover{
    transform:scale(1.02);
  }

  .slick-slide img{
    width: 5rem;
    height: 5rem;

  }

  .slick-slide h5{
    position:absolute;
    bottom:5.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .more{
    position:absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 6rem;
    }
    .watermark-container{
      position:relative;
    }
    .watermark-1 {
      color:#000000c2 !important;
      position: absolute;
      right:0;
      bottom: -30px;
      color:transparent;
      opacity: 0.08;
      padding: 0;
      margin:0;
      font-size: 13em;
      width: 100%;
      z-index: 0;
  }
  .container-form{
    z-index:999;
  }
  .watermark-2{
    color:white !important;
    position: absolute;
    right:-3.1vw;
    bottom: -220px;
    color:transparent;
    opacity: 0.08;
    padding: 0;
    margin:0;
    font-size: 16em;
    width: 100%;
    z-index: 0;
}

